@font-face {
	font-family: Ubuntu;
	src: url(Ubuntu-M.ttf);
	font-weight: bold;
}

@font-face {
	font-family: Ubuntu;
	src: url(Ubuntu-R.ttf);
}

a {
	color: #1982d1;
	text-decoration: none;
}
a:focus,
a:active,
a:hover {
	text-decoration: underline;
}


body {
	background: #fff;
	padding: 0px;
	margin: 0px;
	font-family:Ubuntu;
	font-size: 16px;
	background-color:#f2f0ed;
}

table {
	margin:0px;
	border:0px;
	border-collapse: collapse;

	margin-left:20px;
	margin-bottom:20px;
}

table.cento{
	width: 100%;
}

td {
	padding: 3px 12px;
	vertical-align: top;
	font-size: 16px;
}

th {
	text-align:left;
}

tr.riga1 {
	border-bottom: 1px solid rgb(255, 102, 102);
}

tr.riga2 {
	border-bottom: 1px solid rgb(255, 102, 102);
	background: #ffe1b7;
}

tr.intestazione {
	font-weight: bold;
	font-size: 19px;
	border-bottom: 0.2em solid rgb(255, 102, 102);
}

span.img_rimuovi{
	height: 16px;
	width: 16px;
	margin: 0;
  	padding-right: 10px;
  	border: 0;
	background: url(rimuovi.png) no-repeat center top;
	display: block;
	float:right;
	cursor:pointer;
	text-indent:-9999px;
}

span.img_aggiungi{
	height: 16px;
	width:	text-indent:-9999px; 16px;
	margin: 0px;
	padding: 0px;
  	padding-right: 10px;
  	border	text-indent:-9999px;: 0;
	background: url(aggiungi2.png) no-repeat center top;
	display: block;
	float:right;
	cursor:pointer;
}

span.img_modifica{
	height: 24px;
	width: 24px;
	margin: 0px;
	padding: 0px;
  	padding-right: 10px;
  	border: 0;
	background: url(modifica.png) no-repeat center top;
	display: block;
	float:left;
}

span.img_stampa{
	height: 24px;
	width: 24px;
	margin: 0px;
	padding: 0px;
  	padding-right: 10px;
  	border: 0;
	background: url(stampa.png) no-repeat center top;
	display: block;
	float:left;
	cursor:pointer;
}

span.img_chiudi{
	height: 24px;
	width: 24px;
	margin: 0px;
	padding: 0px;
  	padding-right: 10px;
  	border: 0;
	background: url(24/chiudi.png) no-repeat center top;
	display: block;
	float:left;
	cursor:pointer;
}


span.img_dettagli{
	height: 24px;
	width: 24px;
	margin: 0px;
	padding: 0px;
  	padding-right: 10px;
  	border: 0;
	background: url(24/dettagli.png) no-repeat center top;
	display: block;
	float:left;
	cursor:pointer;
}

span.img_elimina{
	height: 24px;
	width: 24px;
	margin: 0px;
	padding: 0px;
  	padding-right: 10px;
  	border: 0;
	background: url(elimina.png) no-repeat center top;
	display: block;
	float:left;
	cursor:pointer;
}

span.img_applica{
	height: 24px;
	width: 24px;
	margin: 0px;
	padding: 0px;
  	padding-right: 10px;
  	border: 0;
	background: url(24/applica.png) no-repeat center top;
	display: block;
	float:left;
	cursor:pointer;
}


#login2 {
	width:500px;
	padding: 10px;
	border: 1px solid #ccc;
	margin: 20px auto;
	padding-top:32px;
	padding-bottom: 32px;
}

#login2 input {
	border: 1px solid #bbb;
}

#login2 input.invio {
	border: none;
	height:32px;
	width:32px;
	float: right;
	background: url(invio.png) repeat-x center center;
	cursor:pointer;
	display: block;
}

#nome {
	height: 36px;
	width: 260px;
	margin: 0px auto;
	border:0px;
	border-right: 1px solid #bbb;
	padding-left:20px;
	padding-right:20px;
	border-left: 1px solid #bbb;
	display: block;
	font-size: 15px;
	background-color: #ddd;
}


#login_up {
	height: 36px;
	width: 590px;
	margin: 0px auto;
	border:0px;
	border-right: 1px solid #bbb;
	padding-left:20px;
	border-left: 1px solid #bbb;
	display: block;
	font-size: 15px;
	background-color: #ddd;
}

#login_up input {
	margin: 0px;
	margin-top: 6px;
	margin-right: 10px;
	border: 1px solid #bbb;
}

#login_up input.invio {
	border: none;
	margin-top:2px;
	height:32px;
	width:32px;
	background: url(invio.png) repeat-x center center;
	cursor:pointer;
}


#user {
	border-bottom: 1px solid #888;
	margin: 0px;
	height: 36px;
	background: url(sfondo_user.png) repeat-x center top;
	
}

#menu1{
	float:left;
	padding-left: 10px;
	padding-right: 0px;
}

#menu1 ul {
	list-style-type: none;
	overflow: hidden;
	padding-left:0px;
}

#menu1 li {
	width: 96px;
	height: 96px;
	margin-left:0px;

}

#menu1 li a {
	text-indent:-9999px;
	display: block;
	overflow: hidden; 
    	height:96px;
}

#main{
	/*float:left;*/
	margin-left: 116px;
	padding:0;
}

#contenuto{
background-color:#fff;
border-top:1px solid #ccc;
border-left:1px solid #ccc;
border-bottom:1px solid #ccc;
border-top-left-radius:1em;
border-bottom-left-radius:1em;
overflow: hidden;
 height: auto !important;
}


#menu2{
	padding: 0px;
	margin: 0px;
	border: none;
	margin-top: 10px;
	margin-bottom:5px;
	position: relative;
	height:64px;
}

ul {
	list-style-type: none;
	overflow: hidden;
	padding-right: 20px;
}

#menu2 li {
	float:right;
	width: 64px;
	height: 64px;
	margin-left:5px;

}

#menu2 li a {
	text-indent:-9999px;
	display: block;
	overflow: hidden; 
    	height:64px; 
}

#menu2 li.avanti {
	background: url(avanti.png) no-repeat center top;
}

#menu2 li.indietro {
	background: url(indietro.png) no-repeat center top;
}

#menu2 li.oggi {
	background: url(home.png) no-repeat center top;
}

#menu2 li.nuovo-turno {
	background: url(nuovo-turno.png) no-repeat center top;
}

#menu2 li.cerca {
	background: url(cerca.png) no-repeat center top;
}

#menu2 li.nuovo-persona {
	background: url(64/aggiungi.png) no-repeat center top;
}


#navigazione {
	position: absolute;
	height: 32px;
	top: 16px;
	left: 16px;
}

#navigazione .nav{
	float: left;
	padding: 5px;
	font-size:17px;
	line-height:26px;
}

#navigazione .nav :hover{
	text-decoration: none;
}

#navigazione a{
	color:#333;
}

#navigazione .nav-inizio{
	border-top: 1px solid #999;
	border-left: 1px solid #999;
	border-bottom: 1px solid #666;
	border-right: 0px solid #666;
	border-top-left-radius:0.3em;
	border-bottom-left-radius:0.3em;
	background: url(nav.png) repeat-x center top;
}

#navigazione .nav-inizio:hover {
	background: url(nav-hover.png) repeat-x center top;
}

#navigazione .nav-centro{
	border-top: 1px solid #999;
	border-left: 1px solid #999;
	border-bottom: 1px solid #666;
	border-right: 0px solid #666;
	background: url(nav.png) repeat-x center top;
}

#navigazione .nav-centro:hover {
	background: url(nav-hover.png) repeat-x center top;
}

#navigazione .nav-fine{
	border-top: 1px solid #666;
	border-left: 1px solid #666;
	border-bottom: 1px solid #999;
	border-right: 1px solid #999;
	border-top-right-radius:0.3em;
	border-bottom-right-radius:0.3em;
	background: url(nav-fine.png) repeat-x center top;
	font-weight: bold;
}

#navigazione .nav-solo{
	border-top: 1px solid #666;
	border-left: 1px solid #666;
	border-bottom: 1px solid #999;
	border-right: 1px solid #999;
	border-radius:0.3em;
	background: url(nav-fine.png) repeat-x center top;
	font-weight: bold;
}


span.calendario-nav{
	padding-left: 30px;
	background: url(24/calendario.png) no-repeat left center;
	display: block;
}

span.persone-nav{
	padding-left: 30px;
	background: url(24/persone.png) no-repeat left center;
	display: block;
}

span.utenti-nav{
	padding-left: 30px;
	background: url(24/utenti.png) no-repeat left center;
	display: block;
}

span.impostazioni-nav{
	padding-left: 30px;
	background: url(24/impostazioni.png) no-repeat left center;
	display: block;
}



.giorno {
	margin-left:0px;
	margin-top:0px;
	float:left;
	width: 14.2%;
	border-right: 1px solid #ddd;
}

.giorno1{

}

.giorno2{

}

.azioni {
	height: 32px;
	width: 100%;
	margin-bottom:10px;
}

.pulsante {
	height: 100px;
	width: 100px;
	margin-right: 10px;
	cursor:pointer;
}

#menu1 .pulsante_selezionato{
	border-left: 0.3em solid rgb(255, 102, 102);
}

#menu1 li.calendario{
	background: url(calendario.png) no-repeat center top;
}

#menu1 li.persone{
	background: url(persone.png) no-repeat center top;
}

#menu1 li.statistiche{
	background: url(statistiche.png) no-repeat center top;
}

#menu1 li.utenti{
	background: url(utenti.png) no-repeat center top;
}

#menu1 li.notifiche{
	background: url(notifiche-ok.png) no-repeat center top;

}

#menu1 li.impostazioni{
	background: url(impostazioni.png) no-repeat center top;

}

span.impostazioni.titolo {
	font-size: 20px;
	font-weight: bold;
	border-bottom: 1px solid #aaa;
	padding-right:100px;
	padding-left:10px;
	margin-top:30px;
	display:block;
}

menu.impostazioni {
	margin:0px;
	margin-top: 5px;
}


menu.impostazioni li {
	float:right;
	width: 32px;
	height: 32px;
	margin-left:5px;

}

menu.impostazioni li a {
	text-indent:-9999px;
	display: block;
	overflow: hidden; 
    	height:32px; 
}

menu.impostazioni li.aggiungi {
	background: url(32/aggiungi.png) no-repeat center top;
	cursor:pointer;
}

div.dettagli_requisito{
	margin-top:10px;
	border-top: 1px solid #ccc;
	padding: 8px;

}

span.mansione{
	width: 100px;
	float: left;
	display: block;
}

.s {
	float: left;
	margin-left:15px;
}

.titolo-giorno {
	padding-top:5px;
	font-weight: bold;
	font-size: 18px;
	margin-right: 20px;
	margin-left: 20px;
	border-bottom: 1px solid rgb(255, 102, 102);
	display:block;
	
}

.turno {
	margin: 5px;
	margin-top:10px;
	border: 1px solid #999;
	border-radius:0.3em;
	background: rgb(242, 240, 237);

}

div.titolo-turno-True {
	background: url(16/si.png) no-repeat right top;
	width:16px;
	height:16px;
	float:right;
	margin-top:-5px;
	margin-right:5px;
	text-indent:-9999px;
}

div.titolo-turno-False {
	background: url(16/no.png) no-repeat right top;
	width:16px;
	height:16px;
	float:right;
	margin-top:-5px;
	margin-right:5px;
	text-indent:-9999px;

}

.titolo-turno {
	background: url(sfondo_user.png) repeat-x center top;
	border-bottom:1px solid #aaa;
	font-size:15px;
	margin-bottom:10px;
	padding-left:5px;

}

div.footer-turno {
	background: url(sfondo_user.png) repeat-x center top;
	border-top:1px solid #aaa;
	margin-bottom:0px;
	margin-top:6px;
	height:24px;
	padding-left:5px;
	padding-top:0px;
	font-size:14px;

}


.mansione-calendario {
	border-bottom:1px solid #999;
	text-align: left;
	padding-left:15px;
	font-size:15px;
	display:block;
	font-weight:bold;
	color: #222;
	margin-top: 10px;
	background: #ddd;
}

.mansione-calendario-True {
	border-bottom:1px solid #999;
	text-align: left;
	padding-left:15px;
	font-size:15px;
	display:block;
	font-weight:bold;
	color: #222;
	margin-top: 10px;
	background: rgb(204, 255, 153);
}

.mansione-calendario-False {
	border-bottom:1px solid #999;
	text-align: left;
	padding-left:15px;
	font-size:15px;
	display:block;
	font-weight:bold;
	color: #222;
	margin-top: 10px;
	background: rgb(255, 204, 153);
}
span.aggiungi {
	background: url(16/aggiungi.png) no-repeat right top;
	height:20px;
	display:block;
	text-align:left;
	margin-right: 3px;
	font-size: 13px;
	margin-top:3px;
	padding-left:10px;
}

.img_modifica.turno, .img_elimina.turno {
float: right;}

span.persona-turno{

	margin-top:3px;
	padding-left:10px;
	line-height:19px;
	background: #fff;
	border-bottom:1px solid #bbb;
	background: #eee;
	display:block;
	background: #ffffff;
	background: -moz-linear-gradient(top,  rgb(242, 240, 237) 0%, #ddd 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(242, 240, 237)), color-stop(100%,#ddd));
	background: -webkit-linear-gradient(top,  rgb(242, 240, 237) 0%,#ddd 100%);
	background: -o-linear-gradient(top,  rgb(242, 240, 237) 0%,#ddd 100%);
	background: -ms-linear-gradient(top,  rgb(242, 240, 237) 0%,#ddd 100%);
	background: linear-gradient(to bottom,  rgb(242, 240, 237) 0%,#ddd 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgb(242, 240, 237)', endColorstr='#ddd',GradientType=0 );
}

span.tipo_turno {
	font-style: italic;
	float: left;
	display: block;
	line-height:24px;
	color:#888;
}

span.competenza {
	display:block
	margin:2px;
	float:left;
	margin-right: 5px;
	padding: 2px;
	border:1px solid #bbb;
	border-radius:0.2em;
	background: #eee;
}

span.esci {
	background: url(32/esci.png) no-repeat right top;
	width:32px;
	line-height:32px;
	display: block;
	margin-left:5px;
	text-indent:-9999px;
	float:right;
}

span.salve {
	display:block;
	float:left;
	line-height:32px;
}

.bordo {
	margin:10px;

}
