<div class="riga" id="tipo_turno-{{tipo_turno.id}}">
	<div class="col">{{tipo_turno}}</div>
	<div class="col operazioni">
	<a href="#" onclick='$("#dettagli_requisito-{{tipo_turno.id}}").show();'>dettagli</a>
	<a href="/tipo_turno/elimina/{{tipo_turno.id}}">elimina</a>
	</div>
	</div>
	<div class="riga" id="requisiti-{{tipo_turno.id}}">

		{% for requisito in tipo_turno.req_tipo_turno.all %}
			
			<script>$(document).ready(function(){
				$("#form-{{requisito.mansione.id}}-{{tipo_turno.id}} select#id_operatore").val("{{requisito.operatore|escapejs}}");
				$("#form-{{requisito.mansione.id}}-{{tipo_turno.id}} input#id_valore").val("{{requisito.valore}}")
			});</script>
		{% endfor %}
	
	<div class="riga dettagli_requisito" id="dettagli_requisito-{{tipo_turno.id}}">
		{% for mansione in mansioni %}
		
		<div id="form-{{mansione.id}}-{{tipo_turno.id}}">
		<form id="form-{{mansione.id}}-{{tipo_turno.id}}" action="" method="post" accept-charset="utf-8">{% csrf_token %}
		<input type="hidden" name="mansione" value="{{mansione.id}}">
		<input type="hidden" name="tipo_turno" value="{{tipo_turno.id}}">
		<p>{{mansione}}
			<select name="operatore" id="id_operatore" onchange='$("#applica-{{mansione.id}}-{{tipo_turno.id}}").show()'>
			<option value="NULL" selected="selected">----</option>
			{% for op,op_val in operatori %}
			<option value="{{op}}">{{op_val}}</option>
			{% endfor %}
			<input type="text" name="valore" id="id_valore" onkeydown='$("#applica-{{mansione.id}}-{{tipo_turno.id}}").show()'/>
			</select>
		</p>
		</div></form>
		<div id="applica-{{mansione.id}}-{{tipo_turno.id}}" onclick="send_form_requisiti('form#form-{{mansione.id}}-{{tipo_turno.id}}')" style="display: none">applica
		</div>

    	{% endfor %}</div></div>
