{% extends "base.html" %}

{% block header %}
<div id="header-button1" class="inattivo"><a href="/calendario/"><img src="/media/calendario.png"></a>Calendario</div>
<div id="freccia"></div>
<div id="header-testo"><span class="titolo1">Esegui il login</span><br>effettua l' accesso per poter apportare modifiche</div>
{% endblock %}


{% block main %}

{% if form.errors %}
<p>Il tuo username e password non coincidono. Per favore riprova</p>
{% endif %}

<form method="post" action="{% url django.contrib.auth.views.login %}">{% csrf_token %}
<table>
<div id="login">
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
<tr><td></td><td><input type="submit" value="Accedi" />
<input type="hidden" name="next" value="/calendario/" /></td></tr>
<tr><td colspan="2"><hr></td></tr>
<tr><td colspan="2"><a href="/utente/reset/">Password dimenticata?</a></td></tr>
</table>
</div>

</form>
</div>

{% endblock %}
