{% extends 'base.html' %}

{% block user %}

	<div id="nome"><a href="/accounts/logout">Salve, <b>{{user.get_profile.nome}} {{user.get_profile.cognome}} (<img src="/media/esci.png"> ESCI)</b></a></div>	
	
	
	{% endblock %}


{% block main %}

{% csrf_token %}

<div id="login">
<form action="." method="post">
<table><tr><td colspan="2">

<p>Inserisci il tuo indirizzo di posta, riceverai una mail con le istruzioni per recuperare la password</p>
</td></tr>

{{ form }}

<tr><td colspan="2"><input type=submit value="Reset password"/>
</td></tr>
</table>

</div>
{% endblock %}
