{% extends 'base.html' %}

{% block user %}

	<div id="nome"><a href="/accounts/logout">Salve, <b>{{user.get_profile.nome}} {{user.get_profile.cognome}} (<img src="/media/esci.png"> ESCI)</b></a></div>	
	
	
	{% endblock %}


{% block main %}

{% csrf_token %}

<div id="login">

<form action="." method="post">
<table>
<tr>
    <td>{{ form.old_password.label_tag }}</td>
    <td>{{ form.old_password }}</td>
</tr>
<tr>
    <td>{{ form.new_password1.label_tag }}</td>
    <td>{{ form.new_password1 }}</td>
</tr>
<tr>
    <td>{{ form.new_password2.label_tag }}</td>
    <td>{{ form.new_password2 }}</td>
</tr>
<tr><td colspan="2"><hr></td></tr>
<tr><td colspan="2"><input type=submit value="Modifica Password"/>
</td></tr>
</table>
</form>
</div>
{% endblock %}
