{% extends 'base.html' %}

{% block menu2 %}

<div id="navigazione">
<div class="nav-inizio nav"><a href="/utenti"><span class="utenti-nav"> Utenti</span></a></div>
<div class="nav-fine nav">Modifica Password</div>
</div>

{% endblock %}

{% block main %}

{% csrf_token %}
<div class="form_solo">
<div id="login">

<form action="." method="post">
<table>
<tr>
    <td>{{ form.old_password.label_tag }}</td>
    <td>{{ form.old_password }}</td>
</tr>
<tr>
    <td>{{ form.new_password1.label_tag }}</td>
    <td>{{ form.new_password1 }}</td>
</tr>
<tr>
    <td>{{ form.new_password2.label_tag }}</td>
    <td>{{ form.new_password2 }}</td>
</tr>
<tr><td colspan="2"><hr></td></tr>
<tr><td colspan="2"><input type=submit value="Modifica Password"/>
</td></tr>
</table>
</form>
</div></div>
{% endblock %}
