{% extends "base.html" %} 


{% block menu2 %}
<ul>
<li class="nuovo-turno staff"><a href="/calendario/turno/nuovo">Nuovo Turno</a></li>
<li class="avanti"><a href="/calendario/settavanti">Avanti</a></li>
<li class="oggi"><a href="/calendario/oggi">Oggi</a></li>
<li class="indietro"><a href="/calendario/settindietro">Indietro</a></li>

</ul>

<div id="navigazione">
<div class="nav-solo nav"><span class="calendario-nav"> Calendario</span></div>
</div>

{% endblock %}

{% block main %}
<!--<script>-->
<!-- $(function() {-->
<!--$( "span.persona-draggable" ).draggable({ revert: true });-->
<!--$( "div.droppable" ).droppable({-->
<!--drop: function() {-->
<!--alert( "dropped" );-->
<!--}-->
<!--});-->

<!--});-->
<!--</script>-->
<!--<div class="menu-main">-->
<!--	<span class="persona-draggable"> Matteo Lucchesi </span>-->
<!--</div>-->

<script>	
$(document).ready(function(){
var maxHeight = Math.max.apply(null, $(".giorno").map(function ()
{
    return $(this).height();
}).get());

$(".giorno").height(maxHeight);

});
</script>

  {% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
  {% endif %}

{% for giorno, turno in calendario %}
    <div id="giorno-{{forloop.counter}}" class="giorno droppable" >
    <span class="titolo-giorno {% cycle 'giorno1' 'giorno2' %}">{{giorno|date:"D d M"}}</span>
    
	{% for t in turno%}
		{% include "turno.html" %}
	{% endfor %}

	</div>
{% endfor %}



{% endblock %}
