{% extends "base.html" %} 


{% block menu2 %}
<ul>
<li class="nuovo-turno"><a href="/turno/nuovo">Nuovo Turno</a></li>
<li class="avanti"><a href="/calendario/settavanti">Avanti</a></li>
<li class="oggi"><a href="/calendario/oggi">Oggi</a></li>
<li class="indietro"><a href="/calendario/settindietro">Indietro</a></li>

</ul>

<div id="navigazione">
<div class="nav-solo nav"><span class="calendario-nav"> Calendario</span></div>
</div>

{% endblock %}

{% block main %}

<div id="calendario">
  {% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
  {% endif %}

{% for giorno, turno in calendario %}
    <div id="giorno-{{forloop.counter}}" class="giorno">
    <div id="{{giorno|date:"D"}}" class="titolo-giorno">{{giorno|date:"D d M"}}</div>
    
	{% for t in turno%}
		<div class="turno-{{t.coperto}} turno" id="turno-{{t.id}}" >
		<div class="titolo-turno"><b>{{t.identificativo}} </b><br>{{t.inizio|time:"H:i"}} - {{t.fine|time:"H:i"}}</div>
		{% for requisito in t.tipo.req_tipo_turno.all %}
			{{requisito.mansione}} {{requisito.operatore}}
		{% endfor %}
		</div>
	{% endfor %}

	</div>
{% endfor %}
</div>


{% endblock %}
