{% extends "base.html" %}


{% block menu2 %}
<ul>
<li class="nuovo-persona staff"><a href="/utenti/nuovo">Nuovo Utente</a></li>
</ul>

<div id="navigazione">
<div class="nav-solo nav"><span class="utenti-nav"> Utenti</span></div>
</div>

{% endblock %}


{% block main %}

<script type="text/javascript">
function utente_persona(selettore){
	value=selettore.options[selettore.selectedIndex].value;
	dati=value.split("/");
	Dajaxice.get2.calendario.utente_persona(Dajax.process,{'user_id':dati[0],'persona_id':dati[1]});
}

function utente_staff(selettore){
	value=selettore.value;
	Dajaxice.get2.calendario.utente_staff(Dajax.process,{'user_id':value});
}

</script>
<script src="/static/sorttable.js"></script>
</br>
<table class="sortable cento">
<tr class="intestazione">
<th>Username</th><th>E-mail</th><th>Persona associata</th><th>Privilegi di Staff</th><th class="sorttable_nosort">Operazioni</th>
</tr>
{% for utente in utenti %}

<script type="text/javascript">
	$(document).ready(function(){
	var s = document.getElementById('{{utente.id}}');
	if('{{utente.get_profile.id}}'!=''){
		for (var i=0 ; i < s.length; i++)
			if (s.options[i].text=='{{utente.get_profile}}')
				s.selectedIndex = i;}
	return true;})
</script>

<tr class="utente {% cycle 'riga1' 'riga2' %}" id="utente-{{utente.id}}">
	<td class="username">{{utente}}</td>
	<td class="mail">{{utente.email}}</td>
	<td class="persona">
		<SELECT NAME="stato"  ONCHANGE="utente_persona(this)" id="{{utente.id}}">
		<OPTION VALUE="{{utente.id}}/n">Nessuno
		{% for persona in persone %}
		<OPTION VALUE="{{utente.id}}/{{persona.id}}">{{persona}}
		{% endfor %}
		</SELECT>
	</td>
	<td class="privilegi_staff">{%if not utente.is_superuser%}
 		<input id="staff-{{utente.id}}" type="checkbox" value="{{utente.id}}" ONCHANGE="utente_staff(this);" 
		{%if utente.is_staff%}checked="true"{%endif%}/>{%else%} superuser {%endif%}</td>
	<td class="operazioni"><a href="/utenti/modifica/{{utente.id}}"><span class="img_modifica"></span></a>
		<a href="/utenti/modifica/{{utente.id}}/password" > modifica password </a>
		<a href="#" onclick='$("#elimina-utente-{{utente.id}}" ).dialog("open");'><span class="img_elimina"></span></a>
	</td>

	<script>
	$(function() {
		$( "#elimina-utente-{{utente.id}}" ).dialog({
			resizable: false,
			modal: true,
			autoOpen: false,
			buttons: {
				"Elimina": function() {
					Dajaxice.get2.calendario.elimina_utente(Dajax.process,{'utente_id':{{utente.id}}});
					$( this ).dialog( "close" );
				},
				Cancel: function() {
					$( this ).dialog( "close" );
				}
			}
		});
	});
	
	</script>
	<div id="elimina-utente-{{utente.id}}" title="Elimina {{utente}}">
	<p>
		<span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 50px 0;"></span>Vuoi veramente eliminare l' utente {{utente}}?
	</p>
	</div>
</tr>
{% endfor %}
</table>


{% endblock %}
