{% extends "base.html" %}
{% load static %}
{% block head %}
<link type="text/css" href="{% static "Aristo/Aristo.css" %}" rel="stylesheet" />
<script type="text/javascript" src="{% static "jquery-ui.js" %}"></script>
{% endblock %}
{% block main %}

<div id="div_form_tipo_turno"><form action="" method="post" id="form_tipo_turno" accept-charset="utf-8">
    {{ tipo_turno_form.as_p }}
</form>
</div>


<div id="div_form_requisito"><form action="" method="post" id="form_requisito" accept-charset="utf-8">
    {{ requisito_form.as_p }}
</form>
</div>

	<script>
	$(function() {
		$( "#form_tipo_turno" ).dialog({
			resizable: false,
			modal: true,
			autoOpen: false,
			buttons: {
				"Invia": function() {
					send_form();
				},
				Cancel: function() {
					$( this ).dialog( "close" );
				}
			}
		});
		$( "#form_requisito" ).dialog({
			resizable: false,
			modal: true,
			autoOpen: false,
			buttons: {
				"Invia": function() {
					send_form_requisiti();
				},
				Cancel: function() {
					$( this ).dialog( "close" );
				}
			}
		});
	});
	$(document).ready(function(){$( "a", ".operazioni" ).button();});
	function send_form(){
    Dajaxice.get2.calendario.tipo_turno_form(Dajax.process,{'form':$('#form_tipo_turno').serialize(true)});
	}
	function send_form_requisiti(){
    Dajaxice.get2.calendario.requisito_form(Dajax.process,{'form':$('#form_requisito').serialize(true)});
	}
	</script>
<div id="elenco">
<div class="riga"><a href="#" onclick='$("#form_tipo_turno" ).dialog("open");'>aggiungi tipo turno</a></div>
{% for tipo_turno in tipi_turno %}

	<div class="riga" id="tipo_turno-{{tipo_turno.id}}">
	<div class="col">{{tipo_turno}}</div>
	<div class="col operazioni"><a href="#" onclick='$("#form_requisito" ).dialog("open");'>aggiungi requisito</a></div>
	</div>
	<div class="riga" id="requisiti-{{tipo_turno.id}}">
		{% for requisito in tipo_turno.req_tipo_turno.all %}
			{{requisito.mansione}} {{requisito.operatore}} {{requisito.valore}}
		{% endfor %}
	</div>

{% endfor %}

</div>

{% endblock %}
