{% extends "base.html" %}



{% block menu2 %}
<script>
$(document).ready(function(){ $("div.menu-main").hide(); });
</script>
<div id="navigazione">
<div class="nav-solo nav"><span class="persone-nav"> Persone</span></div>
</div>

<ul>
<li class="nuovo-persona"><a href="/persone/nuovo">Nuova persona</a></li>
<li class="cerca" onclick="$('div.menu-main').slideDown()"><a href="#">Cerca persona</a></li>

</ul>

{% endblock %}

{% block main %}

<div class="menu-main">
	<span class="img_chiudi destra"  onclick="$('div.menu-main').slideUp()" ></span>
	<label for="cerca">Nome o cognome: </label>
	<input type="text" id="cerca" name="cerca" /> 
	<input type="submit" value="Cerca" onclick="cerca_persone()"/>
</div>

<script>
function cerca_persone(){
	Dajaxice.get2.calendario.elenco_cerca_persone(Dajax.process,{'cerca':$("#cerca").val()});
}
</script>

<script src="/static/sorttable.js"></script>
</br>
<div id="tabella_persone">
{% include "persone/tabella_persone.html" %}
</div>
{% endblock %}
