
{% extends "base.html" %}
{% load static %}
{% block head %}
<script type="text/javascript" src="/static/js/time/jquery.ui.timepicker.js" %}" ></script>
	<link type="text/css" href="/static/js/time/jquery.ui.timepicker.css" rel="stylesheet" />
{% endblock %}


{% block menu2 %}

<div id="navigazione">
<div class="nav-inizio nav"><a href="/calendario"><span class="calendario-nav"> Calendario</span></a></div>
<div class="nav-fine nav">Nuovo turno</div>
</div>

{% endblock %}

{% block main %}

<script type="text/javascript">
jQuery(function()
    { 
      $('#id_inizio_1').timepicker({showPeriodLabels: false, hourText: 'Ora', minuteText: 'Minuto',});
      $('#id_fine_1').timepicker({showPeriodLabels: false, hourText: 'Ora', minuteText: 'Minuto',});
    });

window.onload = function() 
{ 
     document.getElementById("id_tipo").onchange = function() 
     { 
         Dajaxice.get2.calendario.nuovo_turno(Dajax.process,{'tipo':this.value}); 
     }; 
     
     
	$(function() {
		var dates = $( "#id_ripeti_da, #id_ripeti_al" ).datepicker({
			defaultDate: "+1w",
			dateFormat: "dd-mm-yy",
			changeMonth: true,
			numberOfMonths: 3,
			onSelect: function( selectedDate ) {
				var option = this.id == "id_ripeti_da" ? "minDate" : "maxDate",
					instance = $( this ).data( "datepicker" ),
					date = $.datepicker.parseDate(
						instance.settings.dateFormat ||
						$.datepicker._defaults.dateFormat,
						selectedDate, instance.settings );
				dates.not( this ).datepicker( "option", option, date );
			}
		});
	});
    
     $("#id_fine_0").hide();
     $('#id_ripeti_al').prop('disabled', true);
     $('#id_ripeti_da').prop('disabled', true);
     $(':checkbox[name=ripeti_il_giorno]').prop('disabled', true);
        
     document.getElementById("id_inizio_0").onchange = function() 
     { 
         id_fine_0.value = id_inizio_0.value;
     };
     
     $(function() {
		$( "#id_inizio_0" ).datepicker({ dateFormat: "dd-mm-yy" });
	});

     
     document.getElementById("id_ripeti").onchange = function() 
     { 
     	if (document.getElementById("id_ripeti").checked) {
     		$('#id_ripeti_al').prop('disabled', false);
     		$('#id_ripeti_da').prop('disabled', false);
     		$(':checkbox[name=ripeti_il_giorno]').prop('disabled', false);
     		
    	} else {
        	$('#id_ripeti_al').prop('disabled', true);
        	$('#id_ripeti_da').prop('disabled', true);
        	$(':checkbox[name=ripeti_il_giorno]').prop('disabled', true);
    	}    
     };

}; 

</script>

<div style="margin:10px;">
  {% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
  {% endif %}

  {% ifequal azione 'Aggiungi' %}
  <form action="/calendario/turno/nuovo/" method="post">{% csrf_token %}
  {% endifequal %}

  {% ifequal azione 'Modifica' %}
  <form action="/calendario/turno/modifica/{{ turno_id }}/" method="post">{% csrf_token %}
  {% endifequal %}
  <table id="form_turno">
  {{form.as_table}}
  <tr><td></td><td><input type="submit" value="invia" /></td></tr>
  </table>
  </form>
</div>
{% endblock %}
