{% extends "base.html" %}

{% block title %} Inserimento/Modifica Utente {% endblock %}	


{% block main %}
  {% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
  {% endif %}

  {% ifequal azione 'nuovo' %}
  <form action="/utenti/nuovo/" method="post">{% csrf_token %}
  {% endifequal %}

  {% ifequal azione 'modifica' %}
  <form action="/utenti/modifica/{{ user.id }}/" method="post">{% csrf_token %}
  {% endifequal %}
  <table>
  {{form.as_table}}
  </table>
  <input type="submit" value="Invia" /> <input type="reset" value="cancella">
  </form>    	
  
  
{% endblock %}
