
{% extends "base.html" %}
{% load static %}


{% block menu2 %}

<div id="navigazione">
<div class="nav-inizio nav"><a href="/impostazioni"><span class="impostazioni-nav"> Impostazioni</span></a></div>
<div class="nav-fine nav">Nuova regola notifica</div>
</div>

{% endblock %}

{% block main %}
<div style="margin:10px;">
  {% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
  {% endif %}

  {% ifequal azione 'nuovo' %}
  <form action="/impostazioni/notifica/nuovo/" method="post">{% csrf_token %}
  {% endifequal %}

  {% ifequal azione 'modifica' %}
  <form action="/impostazioni/notifica/modifica/{{ impostazioni_notifica.id }}/" method="post">{% csrf_token %}
  {% endifequal %}
  <table id="form_impostazioni_notifica_utente">
  {{form.as_table}}
  </table>
  <input type="submit" value="invia" />
  </form>
    </div>
{% endblock %}
