{% extends "base.html" %}
{% load static %}
{% block head %}
<link type="text/css" href="{% static "Aristo/Aristo.css" %}" rel="stylesheet" />
<script type="text/javascript" src="{% static "jquery-ui.js" %}"></script>
{% endblock %}

{% block title %} Inserimento/Modifica di una persona {% endblock %}	


{% block menu2 %}

<div id="navigazione">
<div class="nav-inizio nav"><a href="/persone"><span class="persone-nav"> Persone</span></a></div>
<div class="nav-fine nav">Nuova persona</div>
</div>

{% endblock %}

{% block main %}
  {% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
  {% endif %}
  <div id="div_form_mansione"><form action="" method="post" id="form_mansione" accept-charset="utf-8">{% csrf_token %}
    {{ mansione_form.as_p }}
	</form>
  </div>
  <script>
  	window.onload = function() 
	{ 
  	$(function() {
		$( "#form_mansione" ).dialog({
			resizable: false,
			modal: true,
			autoOpen: false,
			buttons: {
				"Invia": function() {
					send_form();
				},
				Cancel: function() {
					$( this ).dialog( "close" );
				}
			}
		});
	});
  	function send_form(){
    	Dajaxice.get2.calendario.mansione_form(Dajax.process,{'form':$('#form_mansione').serialize(true)});
	}
	$(function() {
		$( "#id_nascita" ).datepicker({
            changeMonth: true,
            changeYear: true,
            defaultDate: "-18y",
            maxDate: "-15y",
            yearRange: "1900:2012"
        });
	});
	};
  </script>
  {% ifequal azione 'nuovo' %}
  <form action="/persone/nuovo/" method="post">{% csrf_token %}
  {% endifequal %}

  {% ifequal azione 'modifica' %}
  <form action="/persone/modifica/{{ per.id }}/" method="post">{% csrf_token %}
  {% endifequal %}
  <table>
  {{form.as_table}}
  </table>
  <input type="submit" value="Invia" /> <input type="reset" value="cancella">
  </form>    	
  <a href="#" onclick='$("#form_mansione" ).dialog("open");'>aggiungi mansione</a>
  
{% endblock %}
