{% extends "base.html" %}
{% load static %}



{% block menu2 %}

<div id="navigazione">
<div class="nav-solo nav"><span class="impostazioni-nav"> Impostazioni</span></div>
</div>

{% endblock %}
{% block main %}

<script>
var giorni = new Array();
giorni[0] = "Lunedì";
giorni[1] = "Martedì";
giorni[2] = "Mercoledì";
giorni[3] = "Giovedì";
giorni[4] = "Venerdì";
giorni[5] = "Sabato";
giorni[6] = "Domenica";
</script>
<script>
	 $(function() {
$( "#tabs" ).tabs();
});
	
	</script>
<div id="tabs" class="bordo">
	<ul>
		<li><a href="#tabs-mansioni">Mansioni</a></li>
		<li><a href="#tabs-tipo-turno">Tipo di turno</a></li>
		<li><a href="#tabs-notifiche">Notifiche</a></li>
		<li><a href="#tabs-persone">Persone</a></li>
		
	</ul>

<div id="tabs-mansioni">


	<script>
	
	$(document).ready(function(){
		
		$( ".dettagli_requisito").hide();});
	
	function send_form_requisiti(form_id){
    	Dajaxice.get2.calendario.requisito_form(Dajax.process,{'form':$(form_id).serialize(true),'form_id':form_id});
	}
	
	function dettagli(tipo_turno_id,azione){
	if (azione=="apri"){
		$("#dettagli_requisito-"+tipo_turno_id).show();}
	else {
		$("#dettagli_requisito-"+tipo_turno_id).hide();}
	}
	</script>
	



	<div id="mansioni">
	<span class="titolo impostazioni">Mansioni</span>
	<menu class="impostazioni">
	<ul>
	<li class="aggiungi superuser"><a href="/impostazioni/mansione/nuovo">Aggiungi mansione</a></li>
	</ul>
	</menu>
	<table>

	{% for mansione in mansioni %}
	
		<tr class="mansioni {% cycle 'riga1' 'riga2' %}" id="mansione-{{mansione.id}}">
		<td class="mansioni">{{mansione}}</td>
		<td class="operazioni"><a href="/impostazioni/mansione/modifica/{{mansione.id}}"><span class="img_modifica superuser"></span></a>
			<a href="/impostazioni/mansione/elimina/{{mansione.id}}"><span class="img_elimina superuser"></span></a>

		</td></tr>

	{% endfor %}
	</table>

	</div>
</div>

<div id="tabs-tipo-turno">
	<div id="tipo_turno">
	<span class="titolo impostazioni">Tipi di turno</span>
	<menu class="impostazioni">
	<ul>
	<li class="aggiungi superuser"><a href="/impostazioni/tipo_turno/nuovo">Aggiungi Tipo Turno</a></li>
	</ul>
	</menu>
	<table>
	{% for tipo_turno in tipi_turno %}
		 <!-- {% cycle 'riga1' 'riga2' as riga %} --> {% include "elenco_tipo_turno/dettagli.html" %}
	{% endfor %}
	</table>
	</div>
</div>

<div id="tabs-notifiche">
	<div id="notifiche">
	<span class="titolo impostazioni">Impostazioni Notifiche</span>
	<menu class="impostazioni">
	<ul>
	<li class="aggiungi superuser"><a href="/impostazioni/notifica/nuovo">Aggiungi regola notifica</a></li>
	</ul>
	</menu>
	
	<table class="cento">
	<tr class="intestazione">
	<th>Destinatario</th><th>Giorni</th><th>Tipo di turno</th><th>Operazioni</th>
	</tr>
	{% for i in impostazioni_notifica_utente %}
	
		<tr class="impostazioni_notifica_utente {% cycle 'riga1' 'riga2' %}" id="impostazioni_notifica_utente-{{i.id}}">
			<td>{{i.utente}}</td>
			<td>
			{% for g in i.giorni %}
			<script>document.write(giorni[{{ g }}]);</script>
			{% endfor%}
			</td>
			<td>
			{% for t in i.tipo_turno.all %}
			{{t}}
			{% endfor%}		
			</td>
			<td>
				<a href="/impostazioni/notifica/modifica/{{i.id}}"><span class="img_modifica superuser"></span></a>
				<a href="/impostazioni/notifica/elimina/{{i.id}}"><span class="img_elimina superuser"></span></a>
			</td>
		</tr>

	{% endfor %}
	</table>
	
	
	</div>

</div>

<div id="tabs-persone">

	<div id="persone">
	<span class="titolo impostazioni">Persone</span>
	<menu class="impostazioni">
	<ul>
	<li class="aggiungi superuser"><a href="/impostazioni/campo_persone/nuovo">Aggiungi campo</a></li>
	</ul>
	</menu>
	<table>

	{% for campo_persone in campi_persone %}
	
		<tr class="mansioni {% cycle 'riga1' 'riga2' %}" id="mansione-{{campo_persone.id}}">
		<td class="mansioni">{{campo_persone.name}}</td>
		<td class="operazioni"><a href="/impostazioni/campo_persone/modifica/{{campo_persone.id}}"><span class="img_modifica superuser"></span></a>
			<a href="/impostazioni/campo_persone/elimina/{{campo_persone.id}}"><span class="img_elimina superuser"></span></a>

		</td></tr>

	{% endfor %}
	</table>

	</div>

</div>

</div>


{% endblock %}
