{% extends "base.html" %}
{% load static %}
{% block head %}
<link type="text/css" href="{% static "Aristo/Aristo.css" %}" rel="stylesheet" />
<script type="text/javascript" src="{% static "jquery-ui.js" %}"></script>
{% endblock %}


{% block menu2 %}

<div id="navigazione">
<div class="nav-solo nav"><span class="impostazioni-nav"> Impostazioni</span></div>
</div>

{% endblock %}
{% block main %}

<div id="tabs" class="bordo">
	<ul>
		<li><a href="#tabs-sistema">Impostazioni di sistema</a></li>
		<li><a href="#tabs-personali">Impostazioni personali</a></li>
		
	</ul>

<div id="tabs-sistema">


	<script>
	
	$(document).ready(function(){
		
		$( ".dettagli_requisito").hide();});
	
	function send_form_requisiti(form_id){
    	Dajaxice.get2.calendario.requisito_form(Dajax.process,{'form':$(form_id).serialize(true),'form_id':form_id});
	}
	
	function dettagli(tipo_turno_id,azione){
	if (azione=="apri"){
		$("#dettagli_requisito-"+tipo_turno_id).show();}
	else {
		$("#dettagli_requisito-"+tipo_turno_id).hide();}
	}
</script>
	
	
	</script>


<div id="mansioni">
<span class="titolo impostazioni">Mansioni</span>
<menu class="impostazioni">
<ul>
<li class="aggiungi"><a href="/impostazioni/mansione/nuovo">Aggiungi mansione</a></li>
</ul>
</menu>
<table>

{% for mansione in mansioni %}
	<tr class="mansioni {% cycle 'riga1' 'riga2' %}" id="masnione-{{mansione.id}}">
	<td class="mansioni">{{mansione}}</td>
	<td class="operazioni"><a href="/impostazioni/mansione/modifica/{{mansione.id}}"><span class="img_modifica"></span></a>
		<a href="/impostazioni/mansione/elimina/{{mansione.id}}"><span class="img_elimina"></span></a>
	</td>
	</tr>
{% endfor %}
</table>

</div>


<div id="tipo_turno">
<span class="titolo impostazioni">Tipi di turno</span>
<menu class="impostazioni">
<ul>
<li class="aggiungi"><a href="/impostazioni/tipo_turno/nuovo">Aggiungi Tipo Turno</a></li>
</ul>
</menu>
<table>
{% for tipo_turno in tipi_turno %}
	 <!-- {% cycle 'riga1' 'riga2' as riga %} --> {% include "elenco_tipo_turno/dettagli.html" %}
{% endfor %}
</table>
</div>
</div>
<div id="tabs-personali">
</div>

</div>


{% endblock %}
