{% extends "base.html" %}


{% block title %} Notifiche {% endblock %}
{% block menu2 %}

<div id="navigazione">
<div class="nav-solo nav"><span class="notifiche-nav"> Notifiche</span></div>
</div>

{% endblock %}
{% block main %}

<script type="text/javascript">
function notifiche(value){
	var counter = 0;  // counter for checked checkboxes  
	var i = 0;  // loop variable
	var url = '';
	var input_obj = document.getElementsByTagName('input'); 

	for (i=0; i < input_obj.length; i++){ 
		if (input_obj[i].type == 'checkbox' && input_obj[i].checked == true){  
			counter++;  
       			url = url +'_' + input_obj[i].value;  
     			}
   		}  
	if (counter > 0){  
	url = url.substr(1);
	Dajaxice.get2.calendario.notifiche(Dajax.process,{'option':value,'url':url});
	}  
	else alert("Non ci sono notifiche selezionate!");  

}

function checkAll() {
  checkboxes = document.getElementsByName('not_id');
  for(var i in checkboxes)
    checkboxes[i].checked = true;
}

function uncheckAll() {
  checkboxes = document.getElementsByName('not_id');
  for(var i in checkboxes)
    checkboxes[i].checked = false;
}

</script>


{% if notifiche %}
<div style="margin:10px;">
<table class="cento">

      <form action="/notifica/letto/" method="get">
      <tr><td colspan="3">
		Se selezionati:
      	<select id="sele" name="letto" onchange="notifiche(this.options[this.selectedIndex].value)">
      		<option value="">---
      		<option value="letto">segna come letto
      		<option value="nonletto">segna come NON letto
      		<option value="cancella">Elimina
      </select>
      </td>
      <td>
      	<input type="button" name="CheckAll" value="Seleziona tutto" onClick="checkAll()">
		<input type="button" name="UnCheckAll" value="Annulla selezione" onClick="uncheckAll()">
      </td>
      </tr>


<tr >
      <td></td>
      <td><b>Data</b></td>
      <td><b>testo</b></td>
      <td></td>
</tr>

{% for notifica in notifiche %}
<tr id='not-{{notifica.id}}' class="letto-{{notifica.letto}}">
      <td><input type="checkbox" name="not_id" value="{{notifica.id}}" class="ch"></td>
      <td>{{notifica.data|date:"D d M G:i"}}</td>
      <td>{{notifica.testo|safe}}</td>
      <td><a href="/notifiche/elimina/{{notifica.id}}"><span class="img_elimina"></span></a></td>
</tr>
{% endfor %}
</table></form>
</div>
{% else %}
    <p>Nessuna notifica ricevuta</p>
{% endif %}
<br>
</div>

</div>

{% endblock %}
