{% extends "base.html" %}
{% load static %}
{% block head %}
<script language="javascript" type="text/javascript" src="/static/js/flot/jquery.flot.js"></script>
{% endblock %}


{% block menu2 %}
<script>
$(document).ready(function(){ $("div.menu-main").hide(); });
</script>
<div id="navigazione">
<div class="nav-solo nav"><span class="statistiche-nav"> Statistiche</span></div>
</div>


<ul>
<li class="cerca" onclick="$('div.menu-main').slideDown()"><a href="#">Cerca statistiche</a></li>
</ul>

{% endblock %}
{% block main %}

 <script>
$(function() {
 $( "#from" ).datepicker({
 defaultDate: "-1m",
 changeMonth: true,
 numberOfMonths: 3,
 dateFormat: "dd/mm/yy",
 maxDate: "-1D",
 onClose: function( selectedDate ) {
 $( "#to" ).datepicker( "option", "minDate", selectedDate );
 }
 });
 $( "#to" ).datepicker({
 defaultDate: "+1D",
 changeMonth: true,
 numberOfMonths: 3,
 dateFormat: "dd/mm/yy",
 maxDate: "-1D",
 onClose: function( selectedDate ) {
 $( "#from" ).datepicker( "option", "maxDate", selectedDate );
 }
 });
});
</script>

<div class="menu-main">
	<span class="img_chiudi destra"  onclick="$('div.menu-main').slideUp()" ></span>
	<label for="from">dal: </label>
	<input type="text" id="from" name="from" /> 
	<label for="to">al: </label>
	<input type="text" id="to" name="to" />
	<input type="button" value="Applica" onclick="aggiorna_statistiche()"/>
</div>

<script>
function aggiorna_statistiche(){
	Dajaxice.get2.calendario.aggiorna_statistiche(Dajax.process,{'da':$("#from").val(),'al':$("#to").val()});
}
</script>
<div id="stat">
{% include "statistiche/statistiche.html" %}
</div>
{% endblock %}
