
{% load template_filters %}

{% if request.user.id and  not request.user.is_staff %}
	<div id="disponibilita-{{t.id}}" title="Disponibilita per il turno {{t}}">
		<span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 50px 0;"></span>Vuoi veramente eliminare l' utente {{utente}}?
	</p>
	</div>
<script>
$(document).ready(function(){
		$( "#disponibilita-{{t.id}}" ).dialog({
			resizable: false,
			modal: true,
			autoOpen: false,
			buttons: {
				"Applica": function() {
					Dajaxice.get2.calendario.disponibilita_turno(Dajax.process,{'turno_id':{{t.id}}});
					$( this ).dialog( "close" );
				},
				Cancel: function() {
					$( this ).dialog( "close" );
				}
			}
		});
	$('#turno-{{t.id}}').click(function () {$("#disponibilita-{{t.id}}" ).dialog("open");});
	});
</script>


{% endif %}
	<div class="turno" id="turno-{{t.id}}" >
		
		<div class="titolo-turno-{{t.coperto}}"></div>
		<div class="titolo-turno">
		<b><i>{{t.inizio|time:"H:i"}} - {{t.fine|time:"H:i"}}</i> {{t.identificativo}} </b>
		</div>
		{% for requisito in t.tipo.req_tipo_turno.all %}
			<span class="mansione-calendario-{{t|verifica_requisito:requisito }}">{{requisito.mansione}}</span>
			{% for disp in t.turno_disponibilita.all %}
				{% if disp.mansione = requisito.mansione and disp.tipo = 'Disponibile' %}
				<span class="persona-turno">{{disp.persona}}<span class="img_rimuovi staff"></span></span>
				{% endif %}
		{% endfor %}
		<a href="/calendario/cerca_persona/{{t.id}}/{{requisito.mansione.id}}"><span class="aggiungi staff">aggiungi {{requisito.mansione}}</span></a>
		{% endfor %}
		{% for disp in t.turno_disponibilita.all %}
			{% if disp.mansione not in t.mansioni and disp.tipo = 'Disponibile' %}
			{% if forloop.first %}<span class="mansione-calendario">Altre mansioni</span>{% endif  %}
			<span class="persona-turno">{{disp.persona}}<span class="img_rimuovi staff"><a href="/calendario/rimuovi_disponibilita/{{disp.id}}">rimuovi</a></span></span>
			{% endif %}
		{% endfor %}
		<div class="footer-turno">
			<a href="/calendario/turno/elimina/{{t.id}}"><span class="img_elimina turno staff"></span></a>
			<a href="/calendario/turno/modifica/{{t.id}}"><span class="img_modifica turno staff"></span></a>
			<span class="tipo_turno">{{t.tipo}}</span>
		</div>
		</div>
